<div class="form-s-div">

    <h1>Login</h1>

    <div>
        <form id = "loginForm" (ngSubmit)="login()">
            <input type = "text" name = "username" placeholder = "Username" [(ngModel)]="username" required>
            <input type = "password" name = "password" placeholder = "Password" [(ngModel)]="password" required>
            <button type = "submit">Login</button>
        </form>
    </div>

    <div class = "additional-links">
        <a routerLink="/reset-password" routerLinkActive="active" id = "resetPasswort">Reset password</a>
    </div>

</div>