:root{
    --background-color-navbar: rgb(40, 45, 55);
    --background-color-body : rgb(40, 45, 55);

    --button-color:  rgba(140, 85, 185, 0.712);
    --button-color-hover : rgb(160, 100, 215);
    --button-color-active : rgba(225, 225, 225, 0.6);

    --font-color-1: rgb(255, 255, 255);
    --font-color-2: rgba(225, 225, 225, 0.6);
    --font-color-3: rgb(160, 100, 215);
    --font-color-4: rgba(140, 85, 185, 0.712);

    --success-color: rgb(10, 165, 160);
    --failure-color: rgb(255, 84, 84);

    --font-family: 'Monaco', monospace;
    --content-font-size : 16;

    --content-width: 1200px;
    --border-radius-button: 5px;

    --forms-top-margin: 40px;
}

/* ---------- body styling ----------*/

body {

    background-color: var(--background-color-body);
    font-family: var(--font-family);
    font-size: var(--content-font-size);
    color: var(--font-color-1);

    max-width: var(--content-width);
    margin: 0px auto;
    /*text-align: left;*/
    /*border: 1px solid #ccc;*/
}

/* ---------- general component space styling ---------- */

.component-space{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* ---------- interactive elements ----------  */

/*text input*/

input{
    font-family: var(--font-family);
    font-size: var(--content-font-size);
}

textarea:focus, input:focus{
    outline: none !important;
    border:2px solid var(--button-color-hover);
    border-radius: var(--border-radius-button);
}

/* buttons */

button {
    font-family: var(--font-family);
    background-color: var(--button-color);
    color: var(--font-color-1);
    margin: 5px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    position: relative;
    border: none;
    border-radius: var(--border-radius-button);
    cursor: pointer;
    overflow: hidden;
    transition-duration: 0.2s;
}

button:hover {
    background-color: var(--button-color-hover);
}

button:after {
    content: "";
    background: var(--success-color);
    display: block;
    position: absolute;

    border-radius: 20px;

    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;

    opacity: 0;
    transition:  all 0.8s
}

button:active:after {
    padding: 0px;
    margin: 0px;
    opacity: 1;
    transition: 0s
}

button:focus{
    outline: 0px;
}


/* links */

a{
    color: var(--font-color-2);
}

a:hover {
    color: var(--font-color-3);
}