:root{
    --background-color-navbar: rgb(40, 45, 55);
    --background-color-body : rgb(40, 45, 55);

    --font-color-1: rgb(255, 255, 255);
    --font-color-2: rgba(225, 225, 225, 0.6);
    --font-color-3: rgb(160, 100, 215);
    --font-color-4: rgba(140, 85, 185, 0.712);

    --button-color:         rgba(140, 85, 185, 0.712);
    --button-color-hover :  rgb(160, 100, 215);
    --button-color-active : rgba(225, 225, 225, 0.6);

    --secondary-button-color:         rgba(225, 225, 225, 0.3);
    --secondary-button-color-hover :  rgba(225, 225, 225, 0.5);
    --secondary-button-color-active : rgba(225, 225, 225, 0.6);

    --success-color: rgb(10, 165, 160);
    --failure-color: rgb(255, 84, 84);
    --info-color:    rgba(225, 225, 225, 0.6);

    --font-family: 'Monaco', monospace;
    --h1-font-size : 32px;
    --h2-font-size : 24px;
    --content-font-size : 16px;

    --content-width: 1000px;
    --default-border-radius: 1px;

    --forms-top-margin: 40px;
}

/* ---------- body styling ----------*/

body {

    background-color: var(--background-color-body);
    font-family: var(--font-family);
    font-size: var(--content-font-size);
    color: var(--font-color-1);

    max-width: var(--content-width);
    margin: 0px auto;
    /*text-align: left;*/
    /*border: 1px solid #ccc;*/
}

h1{
    font-size: var(--h1-font-size);
    margin-bottom: 10px;
}

h2{
    font-size: var(--h2-font-size);
    margin-bottom: 20px;
    margin-top: 20px;
}

/* ---------- table styling ---------- */
table {
    border-top: 1px solid var(--font-color-2);
    border-bottom: 1px solid var(--font-color-2);
    padding-top: 5px;
    padding-bottom: 5px;
    width: calc(var(--content-width) - 20px);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}

th, tr {
    padding-bottom: 5px; /* space inside each cell */
    text-align: left;
    border-bottom: 1px dashed;
    width: auto;
}

th {
    color: var(--font-color-2);
}

/* ---------- general component space styling ---------- */

.component-space{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* ---------- interactive elements ----------  */

/*text input*/

input{
    font-family: var(--font-family);
    font-size: var(--content-font-size);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: var(--default-border-radius);
}

textarea:focus, input:focus{
    outline: none !important;
    border:2px solid var(--button-color-hover);
    border-radius: var(--default-border-radius);
}

/* buttons */

button {
    font-family: var(--font-family);
    font-size: var(--content-font-size);
    background-color: var(--button-color);
    color: var(--font-color-1);

    margin-bottom: 10px;
    padding: 10px;

    text-align: center;
    text-decoration: none;
    position: relative;

    border: none;
    border-radius: var(--default-border-radius);
    cursor: pointer;
    overflow: hidden;
    transition-duration: 0.2s;
}

button:hover {
    background-color: var(--button-color-hover);
}

button:after {
    content: "";
    background: var(--success-color);
    display: block;
    position: absolute;

    border-radius: 20px;

    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;

    opacity: 0;
    transition:  all 0.8s
}

button:active:after {
    padding: 0px;
    margin: 0px;
    opacity: 1;
    transition: 0s
}

button:focus{
    outline: 0px;
}


/* secondary-buttons */

.secondary-button {
    background-color: var(--secondary-button-color);
}

.secondary-button:hover {
    background-color: var(--secondary-button-color-hover);
}


/* links */

a{
    color: var(--font-color-2);
}

a:hover {
    color: var(--font-color-3);
}