:root{
    --background-color-body : rgb(40, 45, 55);

    --background-color-navbar: rgb(40, 45, 55);
    --border-navbar: 1px solid rgb(255, 255, 255);

    --button-color:  rgba(140, 85, 185, 0.712);
    --button-color-hover : rgb(140, 85, 185);
    --button-color-active : rgba(225, 225, 225, 0.6);

    --font-color-1: rgb(255, 255, 255);
    --font-color-2: rgba(225, 225, 225, 0.6);
    --font-color-3: rgb(139, 83, 185);

    --success-color: rgb(10, 165, 160);
    --failure-color: rgb(255, 84, 84);

    --font-family: 'Monaco', monospace;
    --content-font-size : 16;

    --content-width: 1200px;

    --border-radius-button: 5px;
}

body {

    background-color: var(--background-color-body);
    font-family: var(--font-family);
    font-size: var(--content-font-size);
    color: var(--font-color-1);
    margin: 0;

    max-width: var(--content-width);
    margin: 0px auto;
    text-align: left;
    padding: 0px;
    /*border: 1px solid #ccc;*/

}