<div class = "header">
    <h1>Account</h1>
</div>


<div class="account">

    <h2>Profile information</h2>

    <div class="account-tag">
        <p>Username:</p>
        <p>E-mail:</p>
        <p>Comment:</p>
        <p>Last edit:</p>
    </div>

    <div class="account-info">
        <p>{{ accountData.username }}</p>
        <p>{{ accountData.e_mail }}</p>
        <p> {{ accountData.comment }}</p>
        <p>{{ accountData.timestamp * 1000 | date:'medium' }}</p>
    </div>

</div>


<div class="role-info">
    <h2>Role information</h2>
    <table>

        <tr>
            <th>Role-Id</th>
            <th>Role</th>
            <th>Last edit</th>
        </tr>

        <tr *ngFor="let role of roleData">
            <td>{{ role.key_user_role }}</td>
            <td>{{ role.role }}</td>
            <td>{{ role.timestamp * 1000 | date:'medium' }}</td>
        </tr>

    </table>
</div>


<div class="button-space">
    <button class="secondary-button" [routerLink]="['/account/change-password']">Change password</button>
    <button class="secondary-button" [routerLink]="['/edit-user', accountData.key]">Edit profile</button>
</div>