.navbar{
    background-color: rgb(255, 0, 0);
    list-style-type: none;
}

.navbar li{
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 30px;
}

.navbar li a{
    color: var(--font-color-2);
    text-decoration: none;
}

.navbar li:last-child{
    float: right;
}
