<main>

    <header>
        <nav>
            <ul class="navbar">
                <li><a routerLink="/" routerLinkActive="active">Home</a></li>
                <li><a routerLink="/skills" routerLinkActive="active">Skills</a></li>
                <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
                <li><a routerLink="/users" routerLinkActive="active">Users</a></li>
                <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
            </ul>
        </nav>
    </header>

    <section class="component-space">
        <router-outlet></router-outlet>
    </section>

</main>