<div class="form-c">

    <h1>Change password</h1>

    <form id="changeForm" (ngSubmit)="changePassword()">

        <div class="form-c-grid">

            <label for="current-password">Current password:</label>
            <input type="password" name="passwordCurrent" id="current-password" placeholder="Current password" [(ngModel)]="passwordCurrent" required>

            <label for="new-password">New password:</label>
            <input type="password" name="passwordNew" id="new-password" placeholder="New password" [(ngModel)]="passwordNew" required>

            <label for="repeat-password">Repeat new password:</label>
            <input type="password" name="passwordRepeat" id="repeat-password" placeholder="Repeat new password" [(ngModel)]="passwordRepeat" required>
        </div>


        <div class="form-c-button-space">
            <button type="button" id="back-button" class="secondary-button" (click)="back()">Back</button>
            <button type="submit" id="save-button">Save</button>
        </div>

    </form>

</div>
