<div class="form-c-div">

    <h1>Change password</h1>

    <form id="changeForm" onsubmit="return false">
        <div class="form-c-grid">

            <label for="current-password">Current password:</label>
            <input type="password" id="current-password" placeholder="Current password" required>

            <label for="new-password">New password:</label>
            <input type="password" id="new-password" placeholder="New password" required>

            <label for="repeat-password">Repeat new password:</label>
            <input type="password" id="repeat-password" placeholder="Repeat new password" required>

        </div>
    </form>

    <div class="form-c-button-space">
        <button type="back" id="back-button" class="secondary-button" (click)="back()">Back</button>
        <button type="submit" id="save-button" (click)="changePassword()">Save</button>
    </div>

</div>
