.centered-fields{
    max-width: 400;
    margin: 0 auto;
    text-align: center;
    padding-top: 20;
    /*border: 1px solid #ccc;*/
}

/* ---------- Login form ---------- */

.nav-bar{
    max-width: 400;
}

.nav-bar li a{
    padding-right: 0;
}

.nav-bar li:last-child {
    float: left; /*used for the login button */
}

button{
    width: 100%;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10;
    margin: 5;
    border-radius: var(--border-radius-button);
}

.login-banner{
    margin-top: 10;
    color: var(--failure-color);
}

.success-banner{
    margin-top: 10;
    color: var(--sucess-color);
}

.error-banner{
    margin-top: 10;
    color: var(--failure-color);
}

.additional-links{
    margin-top: 10;
}

.additional-links a {
    color: var(--font-color-2);
    padding-left: 20;
    padding-right: 20;
}

.additional-links a:hover, a:active, a:focus{
    color: var(--font-color-3);
    font-weight: bold;
    transition: color 0.2s ease;

    outline: none !important;
}