.centered-fields{
    max-width: 400px;
    margin: 0px auto;
    text-align: center;
    padding-top: 20px;
    border: 1px solid #ccc;
}

/* ---------- general ---------- */

.nav-bar{
    max-width: 400px;
}

.nav-bar li a{
    padding-right: 0px;
}

.nav-bar li:last-child {
    float: left; /*used for the login button */
}

button{
    width: 95%;
}

/* ----------------- Login form ----------------*/

.account-form {
    display : flex;
    grid-gap : 0px;
}

.account-form input[type="text"],
.account-form input[type="password"] {
    padding: 10px;
    margin: 5px;
    border-radius: var(--border-radius-button);
    width: 90%;
}

/* ---------------- create account form --------------- */

.account-form-create {
    display : flex;
    grid-gap : 0px;
}

.account-form-create input[type="text"],
.account-form-create input[type="password"] {
    padding: 10px;
    margin: 5px;
    border-radius: var(--border-radius-button);
    width: 90%;
}

.account-form-create label{
    width: 50%;
    text-align: right;
    align-self: center;
    margin-left: -50%;
}

.account-form-create label:after{
    content: " :";
}

/* info banners */

.login-banner{
    margin-top: 10px;
    color: var(--failure-color);
}

.success-banner{
    margin-top: 10px;
    color: var(--success-color);
}

.error-banner{
    margin-top: 10px;
    color: var(--failure-color);
}

/* Links in Login form */

.additional-links{
    margin-top: 10px;
}

.additional-links a {
    color: var(--font-color-2);
    padding-left: 20px;
    padding-right: 20px;
}

.additional-links a:hover, a:active, a:focus{
    color: var(--font-color-3);
    font-weight: bold;
    transition: color 0.2s ease;

    outline: none !important;
}