<html lang = "en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Joel Tauss</title>

    <script type="module" src="../apiServices.js" defer></script>
    <script type="module" src="./accounts.js" defer></script>
    <script type="module" src="./eventHandler.js" defer></script>

    <link rel = "stylesheet" href = "../commonStyles.css">
    <link rel = "stylesheet" href = "./account.css">

</head>

<body>

    <nav class="header">
        <ul class = "nav-bar">
            <li><a href="./login.html">Back</a></li>
        </ul>
    </nav>

    <div class = "centered-fields">

        <h1>Create Account</h1>

        <div>
            <form id = "createAccountForm" onsubmit="return false">

                <div class = "account-form-create">
                    <label id = "usernameLabel" for = "username">Username</label>
                    <input type = "text" id = "username" placeholder = "Username" name = "asdf" required>
                </div>
                <div class = "account-form-create">
                    <label for = "email">E-Mail</label>
                    <input type = "text" id  = "email" placeholder = "E-Mail" required>
                </div>
                <div class = "account-form-create">
                    <label for = "emailConfirm">Confirm E-Mail</label>
                    <input type = "text" id  = "emailConfirm" placeholder = "E-Mail" required>
                </div>
                <div class = "account-form-create">
                    <label for="password">Password</label>
                    <input type = "password" id = "password" placeholder = "Password" required>
                </div>
                <div class = "account-form-create">
                    <button type = "submit">Create Account</button>
                </div>

            </form>
        </div>

        <div class = "error-banner">
            <p id = "errorMessage" style="display: none;"></p>
        </div>

    </div>

</body>

</html>