<html lang = "en">

<head>

    <title>Joel Tauss</title>

    <script type="module" src="../apiServices.js" defer></script>
    <script type="module" src="./accounts.js" defer></script>
    <script type="module" src="./eventHandler.js" defer></script>

    <link rel = "stylesheet" href = "../commonStyles.css">
    <link rel = "stylesheet" href = "account.css">

</head>

<body>

    <div class = "centered-fields">

        <h1>Login</h1>

        <div class="login-form">
                <input type = "text" id = "username" placeholder = "Username" required>
                <input type = "password" id = "password" placeholder = "Password" required>
                <input type = "submit" value = "Login" id = "loginButton">
        </div>

        <div class = "additional-links">
            <a href="">Reset password</a>
            <a href="">Create Account</a>
        </div>

    </div>

</body>

</html>