<!DOCTYPE html>

<html lang = "en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Joel Tauss</title>

    <script type="module" src="../apiServices.js" defer></script>
    <script type="module" src="./accounts.js" defer></script>
    <script type="module" src="./eventHandler.js" defer></script>

    <link rel = "stylesheet" href = "../commonStyles.css">
    <link rel = "stylesheet" href = "./account.css">

</head>

<body>


    <nav class="header">
        <ul class = "nav-bar">
            <li><a href="./login.html">Back</a></li>
        </ul>
    </nav>


    <div class = "centered-fields">

        <h1>Reset Password</h1>
        <div>
            <p>
                A new password for the given user will be generated and sent to the E-Mail linked to the account.
                After a successfull reset, you will able to change your password in the linked menu below.
            </p>
        </div>


        <div class = "account-form">
            <form id = "passwordResetForm" onsubmit="return false">
                <input type = "text" id = "username" placeholder = "Username" required>
                <button type = "submit">Reset Password</button>
            </form>
        </div>

        <div class = "success-banner">
            <p id = "successMessage" style="display: none;"></p>
        </div>

        <div class = "error-banner">
            <p id = "errorMessage" style="display: none;"></p>
        </div>

    </div>

</body>

</html>