<html lang = "en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Joel Tauss</title>

    <script type="module" src="../apiServices.js" defer></script>
    <script type="module" src="./accounts.js" defer></script>
    <script type="module" src="./eventHandler.js" defer></script>

    <link rel = "stylesheet" href = "../commonStyles.css">
    <link rel = "stylesheet" href = "account.css">

</head>

<body>


    <nav class="header">
        <ul class = "nav-bar">
            <li><a href="./login.html">Back</a></li>
        </ul>
    </nav>


    <div class = "centered-fields">

        <h1>Reset Password</h1>

        <div class="login-form">
            <form id = "PasswordResetForm", onsubmit = "return false">
                <input type = "text" id = "username" placeholder = "Username" required>
                <button type="submit">Reset Password</button>
            </form>
        </div>

        <div class = "info-banner">
            <p id = "infoMessage" style="display: none;"></p>
        </div>

    </div>

</body>

</html>