/* ---------- properties ----------  */

:root{
    --background-color-body : rgb(40, 45, 55);

    --background-color-navbar: rgb(40, 45, 55);
    --border-navbar: 1px solid rgb(255, 255, 255);

    --button-color:  rgba(139, 83, 185, 0.712);
    --button-color-hover : rgb(139, 83, 185);
    --button-color-active : rgba(225, 225, 225, 0.6);

    --font-color-1: rgb(255, 255, 255);
    --font-color-2: rgba(225, 225, 225, 0.6);
    --font-color-3: rgb(139, 83, 185);

    --success-color: rgb(10, 165, 160);
    --failure-color: rgb(255, 84, 84);

    --font-family: 'Monaco', monospace;
    --content-font-size : 16;

    --container-width: 800;

    --border-radius-button: 5px;
}

/* ---------- body and main container ----------  */


h1 {
    font-size: 32;
}

h2{
    font-size: 28;
}

h3{
    font-size: 24;
}


body {
    background-color: var(--background-color-body);
    font-family: var(--font-family);
    font-size: var(--content-font-size);
    color: var(--font-color-1);
    margin: 0;
}

.centered-container{
    max-width: var(--container-width);
    margin: 0 auto;
    text-align: left;
    padding: 0;
    /*border: 1px solid #ccc;*/
}

/* ---------- interactive elements ----------  */

/*text input*/

input{
    font-family: var(--font-family);
    font-size: var(--content-font-size);
}

textarea:focus, input:focus{
    outline: none !important;
    border:2px solid var(--button-color-hover);
}

/* buttons */

button {
    font-family: var(--font-family);
    background-color: var(--button-color);
    color: var(--font-color-1);
    margin: 5;
    padding: 10;
    text-align: center;
    text-decoration: none;
    position: relative;
    border: none;
    border-radius: var(--border-radius-button);
    cursor: pointer;
    overflow: hidden;
    transition-duration: 0.3s;
}

button:hover {
    background-color: var(--button-color-hover);
}

button:after {
    content: "";
    background: var(--success-color);
    display: block;
    position: absolute;

    border-radius: 20px;

    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;

    opacity: 0;
    transition:  all 0.8s
}

button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

button:focus{
    outline: 0;
}


/* ---------- Header and navbar ----------  */

.header{
    background-color: var(--background-color-navbar);
    border-bottom: 1px solid var(--font-color-1);
}

.nav-bar{
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: var(--background-color-navbar);
}

.nav-bar li{
    float: left;
}
.nav-bar li:last-child {
    float: right; /*used for the login button */
}

.nav-bar li a{
    display: block;
    color: var(--font-color-2);
    padding-top: 20;
    padding-bottom: 20;
    padding-right: 30;
    text-decoration: none;
}

.nav-bar li a:hover{
    color: var(--font-color-3);
    font-weight: bold;
    transition: color 0.3s ease;
}

