<!DOCTYPE html>

<html lang = "en">

<head>
    <title>Joel Tauss</title>
    <link rel = "stylesheet" href = "commonStyles.css">
</head>

<body>

    <nav class="header">
        <ul class = "nav-bar">
            <li><a href="index.html">Home</a></li>
            <li><a href="skills/skills.html">Skills</a></li>
            <li><a href="projects/projects.html">Projects</a></li>
            <li><a href="users/users.html">Users</a></li>
            <li><a href="accounts/login.html">Login</a></li>
        </ul>
    </nav>

    <div class = "centered-container">
        <h1>About me</h1>
        <p>some sample text</p>
        <button>test</button>
    </div>

</body>

</html>